.container {
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

/* input {
    max-width: 450px;
} */

/* body {
    background-color: lightslategrey;
} */